@use '../rem' as *;

@layer kol-theme-component {
	:host * {
		hyphens: var(--hyphens);
		font-family: var(--font-family);
		line-height: var(--line-height);
		word-break: break-word;
	}

	@media (min-width: rem(1024)) {
		div.pagination .kol-pagination {
			display: flex;
			align-items: center;
		}
	}
}
